@import url(sweets.css);
@import url(savories.css);
@import url(recipes.css);
@import url(footer.css);

body {
    background-image: url("https://media.istockphoto.com/photos/s-fabric-wallpaper-picture-id175215447?k=6&m=175215447&s=612x612&w=0&h=0GjRzwo675N48I7MV-vOZ5KQ8jHTktskM3OgdiKFdK8=");
    margin: 0;
}

.bodyHeader {
    background-color: goldenrod;
    margin: 0;
    padding: 4rem;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bodyHeader h1 {
    font-size: 4rem;
}

.bodyHeader p {
    font-size: 2rem;
}

.bodyHeader p:hover {
    color: blueviolet;
}
.container {
    display: flex;
}

.sweets {
    flex: 2;
    background-color: chartreuse;
    margin: 2rem;
}

.savories {
    flex: 2;
    background-color: darkolivegreen;
    margin: 2rem;
}

.recipes {
    flex: 1;
    margin: 2rem;
}


